*,
*::before,
*::after {
    box-sizing: border-box;
}

.nav {
    max-height: 100px;
}

.nav__img {
    max-width: 100px;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.members + .members {
    margin-left: 2em
}