*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    width: 100%;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(0, 92, 173);
    margin: .5em;
    line-height: 1.2;
}

@media (max-width: 500px) {
    .title {
        font-size: 2rem
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 1.75rem
    }
}

h2 {
    font-size: 1.75rem;
    line-height: .8;
}

.nav {
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
}

.nav__img {
    max-height: 100px;
    margin: .5em 2em 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1em 1em 2em;
}

.members {
    min-width: 250px;
    margin: 1em;
}

h2 a {
    font-size: 1rem;
    color: #555;
}

.card-img {
    max-width: 250px;
}

footer {
    background-color: #c9e5ef;
}

@media (min-width: 650px) and (min-height: 900px) {
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
